{% extends 'base.html' %}


{% block content %}
<style>
    {% load static %}
    .txt1 {
        font-family: Berlin Sans FB Demi;
        font-size: 70px;
        height: 6em;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: -160px;
    }
    .firstpage{
        width: 100%;
        height: 100vh;
        background-image: url("/static/photos/background.jpg");
        background-position: center;
    }
    .content{

        width: 100%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        text-align: center;
        color: whitesmoke;
    }
    .content h1{
        font-size: 7vmin;
        margin-bottom: 10px;
    }
    .content h2{
        font-size: 4vmin;
        margin-bottom: 15px;
    }
    .content-body{
        width: 100%;
        height: 100vh;
        background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("/static/photos/background.jpg");
        background-position: center;
    }
    .inputQuestion{
        border: none;
        width: 400px;
        height: 40px;
        padding: 0 15px;
    }
    .buttonQuestion{
        height: 40px;
        background: black;
        color: whitesmoke;
        padding: 0 15px;
        letter-spacing: 1.2px;
        border: none;
        cursor: pointer;
    }
    .questionList{
        width: 90%;
        height: 180px;
        background: white;
       margin: auto;
       margin-bottom:20px;
       border-radius: 10px;
       box-shadow: -10px -10px 10px rgba(255, 255, 255, 0.2), 15px 15px 15px rgba(0,0,0,0.1);

    }
    .mainPage{
        background-color: #F0F0F0;
    }

    .right hr{
        width: 1000px;
        margin-top: 5px;
        margin-bottom: 5px;
        margin-left:30px;
        border-top:2px solid rgb(0, 0, 0);
    }
    footer{
        background-color: black;
        height: 50px;
        color: whitesmoke;
        font-family: Adelle Sans;
        text-align: center;
        margin: auto;
    }
    a{
        text-decoration: none;
        color: black;
    }


</style>
{% if request.user.is_authenticated %}
    <div class="content-body">
        <div class="content">
            <h1>HAVE A QUESTION?</h1>
            <h2>If you have any questions related to books, feel free to ask below.</h2>
            <form id="questions" class="questionForm" method="POST">
                {% csrf_token %}
                <input type="text"  name="question" class="inputQuestion" placeholder="Type your question here">
                <button type="submit"  value="submit_question" class="buttonQuestion">Post Question</button>
            </form>
        </div>
    </div>
    <div class="mainPage">
        <br><br>
                    {% for user_questions in user_questions %}
                        <a href="/question_temp/{{ user_questions.id }}">
                            <div class="questionList">
                                <div class="right">
                                    <br><br>
                                    <h2 style="margin-left:30px;">{{ user_questions.username }} </h2>
                                    <hr style="display: inline-block;width:80%;">
                                    <br>
                                    <p style="margin-left:30px;">{{ user_questions.question }} </p>
                                </div>
                            </div>
                        </a>
                    {% endfor %}



        <br><br>
    </div>



    {% else %}
        <div class="firstpage">
            <br><br><br>
            <center>
                <b class="txt1">Write a review of your favorite Book.</b>
            </center>
        </div>
{% endif %}

<script>
if ( window.history.replaceState ) {
window.history.replaceState( null, null, window.location.href );
}
</script>
{% endblock content %}