{% extends 'base.html' %}

{% block content %}


<style>
    {% load static %}
    .mainDiv{
        width: 100%;
        height: 100%;
        background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("/static/photos/background.jpg");
        background-position: center;
        background-size: cover;
        position: absolute;
    }
    .loginBox{
        width: 380px;
        height: 495px;
        position: relative;
        background: whitesmoke;
        padding: 5px;
        overflow: hidden;
        margin:4% auto;
    }
    .buttonBox{
        width: 220px;
        margin: 15px auto;
        position: relative;
        border-radius: 30px;
    }
    .buttons{
        padding: 12px 30px;
        cursor: pointer;
        background: transparent;
        border: 0;
        outline: none;
        position: relative;
    }
    #buttonColor{
        top: 0;
        left: 0;
        position: absolute;
        width: 110px;
        height: 100%;
        background: linear-gradient(to right, #abb1cf,#d1cbd4);
        border-radius: 30px;
        transition: .5s;
    }
    .titleLogo{
        margin: 100px auto;
        text-align: center;
    }
    .titleLogo img{
        width: 150px;
    }
    .loginForm{
        top: 180px;
        position: absolute;
        width: 280px;
        transition: .5s;
    }
    .inputField{
        width: 100%;
        padding: 10px 0;
        margin: 5px 0;
        border-left: 0;
        border-right: 0;
        border-top: 0;
        border-bottom: 1px solid #999;
        outline: none;
        background: transparent;
    }
    .submitButton{
        width: 85%;
        padding-top: 10px;
        padding: 13px 30px;
        cursor: pointer;
        display: block;
        margin: auto;
        background: linear-gradient(to right, #abb1cf,#c5b9cd);
        border: 0;
        outline: none;
        border-radius: 30px;
    }
    .imgButton{
        padding: 10px 15px;
    }
    #login{
        left: 50px;
    }
    #register{
        left: 450px;
    }
    }
</style>


<div class="mainDiv">
    <div class="loginBox">
        <div class="titleLogo">
            <h2>Login</h2>
        </div>

        <form id="login" class="loginForm" method="POST">
            {% csrf_token %}
            <input type="text" name="username" class="inputField" placeholder="Username" required>
            <input type="password" name="password" class="inputField" placeholder="Password" required>
            {% for field in login_form%}
            {% for error in field.errors %}
            <p style="color:red;">{{error}}</p>
            {% endfor %}
            {% endfor %}
            {% if login_form.non_field_errors %}
            <div style="color:red">
                <p>{{login_form.non_field_error}}</p>
            </div>
            {% endif %}

            <br><br>
            <button type="submit" class="submitButton" name="login" value="login_user">Log In</button>
        </form>
    </div>
</div>


{% endblock content %}